#mycanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0);
}

.scroller {
  height: 30000px;
}

#counter {
  position: fixed;
  top: 30px;
  left: 50px;
  z-index: 100;
  font-weight: 700;
  font-size: 92px;
  color: #fff;
}

#myvideo {
  position: fixed;
  z-index: 3;
  bottom: 0;
  right: 0;
  width: 20%;
}

#button {
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50px;
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  border: 1px solid;
  padding: 5px 10px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}